.ProfileForm a {
    color: #00bd56;
}

.ProfileForm a:hover {
    color: orange;
}


.ProfileForm .btn {
    border-radius: 2rem;
    background-color: #00bd56;
}

.ProfileForm .btn:active {
    border-radius: 2rem;
    color: #00bd56;
}

.ProfileForm .mealPlanBtn {
    border-radius: 2rem;
    background-color: orange;
}

.ProfileForm .mealPlanBtn .btn:active {
    border-radius: 2rem;
    background-color: #00bd56;
    color: white;
}

/* .ProfileForm  h2 {
    color:  #00bd56;
} */

.ProfileForm h1 {
    background-color: gray;
    border-radius: 2rem;
}

.ProfileForm .oldAvatar {
    opacity: 0.6;
    border-radius: 50%;
    width: 12rem;
    height: 12rem;
    border: 0.3rem solid gainsboro;
    object-fit: cover;
}

/* .ProfileForm .ProfileAvatar .EditAvatar {
    position: absolute;
    right: 0.4 rem;
    top: 0.2 rem;
} */

.ProfileForm .newPicture {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    width: 5rem;
}

.ProfileForm .Slider {
    -webkit-appearance: none;
    width: 100%;
    height: 0.2rem;
    background: #85ef47;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    display: block;
}

.Slider:hover {
    opacity: 1;
}

.Slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 0.7rem;
    height: 1.3rem;
    background: #00bd56;
    border-radius: 0.5rem;
    cursor: pointer;
}

.form-label {
    color: #00bd56;
}

.ProfileForm button {
    border-radius: 2rem;
    background: #00bd56;
    color: white;
}

.ProfileForm button:hover {
    color: #00bd56;
    background: gainsboro;
}

/* input:active,
input:focus,
button:focus,
button:active,
label:focus,
select:focus,
select:active,
.btn:active,
.btn.active {
	outline: 0px !important;
	-webkit-appearance: none;
	box-shadow: none !important;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(0, 177, 114, 0.6);
} */

label.btn,
.btn {
    color: white;
}

label.btn:focus,
label.btn:hover {
    background-color: gainsboro;
    color: #00bd56;
}

.fa-upload {
    background-color: gainsboro;
    cursor: pointer;
    border-radius: 1rem;
    width: 10rem;
}