.SportDetail {
  max-height: 100vh;
  max-width: 100vw;
}

.result {
  font-size: 3rem;
  font-weight: 400;
}

.btn.newActivity {
  background: #00bd56;
  border-radius: 4rem;
  margin: auto 0.5rem;
}

.card {
  border-radius: 2rem;
}